.droplet {
    position: absolute;
    top: 0;
    animation-name: raindrop;
    animation-timing-function: cubic-bezier(1,0,.91,.19);
    animation-iteration-count: infinite;
}

@keyframes raindrop {
    to {
      top: 100vh;
    }
}
